BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
AUTH_BACKEND=convex
NEXT_PUBLIC_AUTH_BACKEND=convex

RESEND_API_KEY=
DEV_EMAIL=

CRON_SECRET=

CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
CONVEX_SITE_URL=
SITE_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=http://localhost:3000

ABLY_API_KEY=

JWT_SECRET=


STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_BASIC_PRICE_ID=
STRIPE_BASIC_ANNUAL_DISCOUNT_PRICE_ID=
STRIPE_PRO_PRICE_ID=
STRIPE_PRO_ANNUAL_DISCOUNT_PRICE_ID=
